In [1]:
# Question 1: Create a dictionary of student names and their ages
student_dict={'raj':20,'manoj':35,'charlie':25}
student_dict

{'raj': 20, 'manoj': 35, 'charlie': 25}

In [2]:
# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
a= {'a': 1, 'b': 2, 'c': 3}
a['d']=4
a

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [5]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
my_dict={'name': 'John', 'age': 25, 'city': 'New York'}
keys=my_dict.keys()
print(keys)

dict_keys(['name', 'age', 'city'])

In [6]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
my_dict={'python': 3, 'java': 2, 'c++': 1}
values=my_dict.values()
print(values)

dict_values([3, 2, 1])

In [8]:
# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
sent={'name': 'Alice', 'age': 30, 'city': 'London'}
if 'age' in sent:
    print(" yes age is exixts")

 yes age is exixts

In [10]:
# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
sent={'a': 1, 'b': 2, 'temp': 3, 'c': 4}
del sent['temp']
print(sent)

{'a': 1, 'b': 2, 'c': 4}

In [3]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
marks = {'math': 85, 'science': 92, 'english': 78}
total = sum(marks.values())
print(total)

255

In [5]:
# Question 8: Create a dictionary with squares of numbers 1 to 5
number={x**2 for x in range(1,6)}
print(number)

{1, 4, 9, 16, 25}

In [8]:
# Question 9: Count frequency of each character in string "hello"
name="hello"
freq={}
for char in name:
    if char in freq:
        freq[char]+=1
    else:
        freq[char]=1
print(freq)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

In [9]:
# Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
a={'a': 1, 'b': 2}
b={'c': 3, 'd': 4}
a.update(b)
a

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [10]:
# Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
a={'person': {'name': 'Alice', 'age': 25}}
a

{'person': {'name': 'Alice', 'age': 25}}

In [11]:
# Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
data= {'person': {'name': 'Alice', 'age': 25}}
name=data['person']['name']
name

'Alice'

In [12]:
# Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
data= {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
print(data)

{'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [13]:
# Question 14: Add 'orange' to the 'fruits' list in nested dictionary
data= {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
data['fruits'].append('orange')
print(data)

{'fruits': ['apple', 'banana', 'orange'], 'colors': ['red', 'blue']}

In [14]:
# Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
value= {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
value

{'coordinates': (10, 20), 'rgb': (255, 0, 0)}

In [16]:
# Question 16: Extract first coordinate from nested tuple
value= {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
first_coordinate=value['coordinates'][0]
print(first_coordinate)

10

In [17]:
# Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
a= {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
a

{'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

In [19]:
# Question 18: Add 'o' to vowels set in nested dictionary
a= {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
a['vowels'].add('o')
a

{'vowels': {'a', 'e', 'i', 'o'}, 'consonants': {'b', 'c', 'd'}}

In [20]:
# Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
a={'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
a

{'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

In [29]:
# Question 20: Access employee name from 3-level nested dictionary
a={'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
employee_name=a['company']['department']['employee']['name']
print(employee_name)

John

In [30]:
# Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
a={'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
a

{'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

In [32]:
# Question 22: Check data type of each value in mixed dictionary
a={'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
for k in a:
    print(k,type(a[k]))

int <class 'int'>
float <class 'float'>
str <class 'str'>
bool <class 'bool'>

In [33]:
# Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}
a={'len': len, 'str': str, 'int': int}
a

{'len': <function len(obj, /)>, 'str': str, 'int': int}

In [3]:
# Question 24: Apply each function to "123" using dictionary
a={'len': len, 'str': str, 'int': int}
values = "123"
result={
        'len': len(values),
        'str': str(values), 
        'int': int(values)
       }
print(result)

{'len': 3, 'str': '123', 'int': 123}

In [5]:
# Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}
a={'double': lambda x: x*2, 'square': lambda x: x**2}
a

{'double': <function __main__.<lambda>(x)>,
 'square': <function __main__.<lambda>(x)>}

In [12]:
#Question 26: Apply each lambda function to 5
a={'double': lambda x: x*2, 'square': lambda x: x**2}
x=5
print(a['double'](x))
print(a['square'](x))

10
25

In [15]:
# Question 27: Create a dictionary with class values: {'list': list, 'dict': dict, 'set': set}
class_dict={'list': list, 'dict': dict, 'set': set}
print(class_dict)

{'list': <class 'list'>, 'dict': <class 'dict'>, 'set': <class 'set'>}

In [17]:
# Question 28: Create instances using class dictionary
class_dict={'list': list, 'dict': dict, 'set': set}
my_list=class_dict['list']([1,2,3])
my_dict=class_dict['dict'](name='alice',age=25)
my_set=class_dict['set']([1,2,23,4])
print(my_list)
print(my_dict)
print(my_set)

[1, 2, 3]
{'name': 'alice', 'age': 25}
{1, 2, 4, 23}

In [18]:
# Question 29: Create a dictionary with None values: {'a': None, 'b': None, 'c': None}
a={'a': None, 'b': None, 'c': None}
a

{'a': None, 'b': None, 'c': None}

In [3]:
# Question 30: Replace all None values with 0
dict={'a': None, 'b': None, 'c': None}
dict['a']=0
dict['b']=0
dict['c']=0
dict

{'a': 0, 'b': 0, 'c': 0}

In [2]:
# Question 31: Create a dictionary with boolean values: {'is_active': True, 'is_admin': False
data = {'is_active': True, 'is_admin': False}
data

{'is_active': True, 'is_admin': False}

In [1]:
# Question 32: Count True values in boolean dictionary

dict = {'is_active': True, 'is_admin': False}
new = 0
for value in dict.values():
    if value == True:
        new += 1
print(new)

1

In [2]:
# Question 33: Create a dictionary with complex numbers: {'z1': 3+4j, 'z2': 1+2j}

dict =  {'z1': 3+4j, 'z2': 1+2j}
dict

{'z1': (3+4j), 'z2': (1+2j)}

In [3]:
# Question 34: Find magnitude of each complex number

dict =  {'z1': 3+4j, 'z2': 1+2j}
magnitude = {}
for key,values in dict.items():
    magnitude[key] = abs(values)
print(magnitude)

{'z1': 5.0, 'z2': 2.23606797749979}

In [4]:
# Question 35: Create a 4-level nested dictionary
dict = {'z1': {"z2":{"z3":{"z4":(3+4j)}}}}
dict

{'z1': {'z2': {'z3': {'z4': (3+4j)}}}}

In [6]:
# Question 36: Access deepest value in 4-level nested dictionary
dict = {
    "level1":{
        "level2":{
            "level3":{
                "level4": 'deepest value'
                    
                }
            }
        }
    }
print(dict)

{'level1': {'level2': {'level3': {'level4': 'deepest value'}}}}

In [10]:
# Question 37: Create a dictionary with range values: {'r1': range(3), 'r2': range(5)}

rang = {'r1': range(3), 'r2': range(5)}
print(rang)

{'r1': range(0, 3), 'r2': range(0, 5)}

In [11]:
# Question 38: Convert each range to list
print({k: list(v) for k, v in rang.items()})

{'r1': [0, 1, 2], 'r2': [0, 1, 2, 3, 4]}

In [9]:
# Question 39: Create a dictionary with generator values
gen_dict = {
    'gen1': (x for x in range(3)),
    'gen2': (x**2 for x in range(4))
}

for name, gen in gen_dict.items():
    print(f"{name}:", list(gen))

gen1: [0, 1, 2]
gen2: [0, 1, 4, 9]

In [2]:
# Question 40: Convert each generator to list
def convert_generators_to_lists(d):
    for key in d:
        d[key] = list(d[key])
    return d
1
gen_dict = {
    'gen1': (x for x in range(3)),
    'gen2': (x**2 for x in range(4))
}
converted = convert_generators_to_lists(gen_dict)
print(converted)

{'gen1': [0, 1, 2], 'gen2': [0, 1, 4, 9]}

In [3]:
# Question 41: Create a dictionary with iterator values
iter_dict = {
    'it1': iter([1, 2, 3]),
    'it2': iter('abc')
}

for name, it in iter_dict.items():
    print(f"{name}: ", list(it))

it1:  [1, 2, 3]
it2:  ['a', 'b', 'c']

In [4]:
# Question 42: Extract all elements from each iterator
iter_dict = {
    'it1': iter([1, 2, 3]),
    'it2': iter('abc')
}

for key in iter_dict:
    iter_dict[key] = list(iter_dict[key])

# Print the updated dictionary
print(iter_dict)

{'it1': [1, 2, 3], 'it2': ['a', 'b', 'c']}

In [5]:
# Question 43: Create a dictionary with nested lists: {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
nes_lis =  {'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}
nes_lis

{'matrix': [[1, 2], [3, 4]], 'vector': [5, 6, 7]}

In [6]:
# Question 45: Create a dictionary with nested dictionaries: {'config': {'db': {'host': 'localhost', 'port': 5432}}}
nes_dic = {'config': {'db': {'host': 'localhost', 'port': 5432}}}
nes_dic

{'config': {'db': {'host': 'localhost', 'port': 5432}}}

In [7]:
# Question 46: Access database port from nested configuration
nes_dic['config']['db']['port']

5432

In [8]:
# Question 47: Create a dictionary with nested tuples: {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
nes_tup = {'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}
nes_tup

{'points': ((1, 2), (3, 4)), 'rgb': ((255, 0, 0), (0, 255, 0))}

In [9]:
# Question 48: Extract first point coordinates
nes_tup['points'][0]

(1, 2)